## File Managed by Ansible ##

# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# The management network interface
{% if interface_eth0 is defined %}
auto eth0
iface eth0
    address {{ interface_eth0.address }}
    gateway {{ interface_eth0.gateway }}
{% endif %}

# The vagrant network interface
auto vagrant
iface vagrant
    vrf-table auto

auto eth1
iface eth1 inet dhcp
    alias Interface used by Vagrant
    vrf vagrant
